@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* default */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
.en {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* fonts */
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 200;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Thin.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Thin.woff")
      format("woff");
}
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 300;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Light.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Light.woff")
      format("woff");
}
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 400;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Regular.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Regular.woff")
      format("woff");
}
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 600;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-SemiBold.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-SemiBold.woff")
      format("woff");
}
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 700;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Bold.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Bold.woff")
      format("woff");
}
@font-face {
  font-display: auto;
  font-family: SoDoSans;
  font-style: normal;
  font-weight: 900;
  src: url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Black.woff2")
      format("woff2"),
    url("//d3vgbguy0yofad.cloudfront.net/common/fonts/SoDoSans/SoDoSans-Black.woff")
      format("woff");
}

/* common */
.globalNav,
.footerNav {
  color: rgb(0, 0, 0, 0.87);
  font-family: "Noto Sans JP", sans-serif;
}
.globalNav button{
  color: rgba(0, 0, 0, 0.87);
}


.globalNav *,
.globalNav *:before,
.globalNav *:after,
.footerNav *,
.footerNav *:before,
.footerNav *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}
.globalNav .en,
.footerNav .en,
.globalNav .en *,
.globalNav * .en,
.globalNav .en :before,
.globalNav .en :after,
.footerNav .en *,
.footerNav * .en,
.footerNav .en :before,
.footerNav .en :after {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.globalNav a,
.footerNav a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: currentColor;
  color: #000;
}
.globalNav p,
.footerNav p {
  margin: 0;
}
.globalNav ul,
.globalNav li,
.footerNav ul,
.footerNav li {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  list-style: none;
}
.globalNav img,
.footerNav img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  max-width: 100%;
}
.globalNav .hidden,
.footerNav .hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .globalNav .pc-hidden,
  .footerNav .pc-hidden {
    display: none;
  }
  .globalNav .auxNav__iconLink.current:after {
    display: none; /* mystarbucksページのCSS対策 */
  }
}
@media screen and (max-width: 1023.9px) {
  .globalNav .sp-hidden,
  .footerNav .sp-hidden {
    display: none;
  }
}

/* globalNav */
.globalNav {
  height: 96px;
  z-index: 999999;
  max-width: 100vw;
  position: relative;
}
.globalNav__logo {
  width: 48px;
  height: 48px;
  margin: 24px 40px 24px 0;
}
.globalNav a.globalNav__listLink,
.globalNav button.globalNav__listLink {
  font-weight: bold;
  display: block;
}
.globalNav .globalNav__wrapper button.globalNav__listLink {
  border: none;
  background: none;
}
.auxNav__iconLink span {
  font-weight: normal;
  color: #000;
}
.globalNav__bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.globalNav__bg.active {
  opacity: 0.38;
  visibility: visible;
}
.auxNav__btn {
  display: flex;
  text-align: center;
  align-items: center;
}
.globalNav__listLink {
  display: block;
  font-size: 14px;
}
.globalNav__nav__wrap {
  width: 100%;
}
.globalNav__nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  z-index: 999998;
}
.globalNav__nav:after {
  /* content: "";
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  z-index: 999999; */
}
.globalNav .font-gray {
  font-size: 13px;
  color: rgb(0, 0, 0, 30%);
  letter-spacing: 0.104em;
}
.globalNav .font-bold {
  font-weight: bold;
}
.globalNav .title-en {
  font-size: 14px;
  font-weight: bold;
}
.globalNav .osIcon {
  position: relative;
  display: inline-block;
}
.globalNav .osIcon.none {
  display: none;
}
.globalNav .osIcon .js-headercart-qty {
  position: absolute;
  margin: 0;
  font-size: 11px;
  top: -3px;
  left: 10px;
  font-weight: 900;
  color: #00754a;
  word-break: keep-all;
  text-shadow: 2px 2px 0px #ffffff, -2px 2px 0px #ffffff, 2px -2px 0px #ffffff,
    -2px -2px 0px #ffffff, 2px 0px 0px #ffffff, 0px 2px 0px #ffffff,
    -2px 0px 0px #ffffff, 0px -2px 0px #ffffff;
}
.globalNav a:hover .osIcon {
  text-shadow: none;
}
.if-login,
.if-not-login {
  display: none;
}
.serviceAndLogin.login .if-login {
  display: block;
}
.serviceAndLogin:not(.login) .if-not-login {
  display: block;
}
.subnav-mystarbucks .subnav .nav-item.if-login a,
.subnav-mystarbucks .subnav .nav-item.if-not-login a {
  font-weight: bold;
}
.subnav-mystarbucks .subnav .nav-item.if-login li:last-child a,
.subnav-mystarbucks .subnav .nav-item.if-not-login li:last-child a {
  font-weight: 400;
}
.slideArea {
  width: 100%;
}
.slideArea.search-area {
  display: none;
  position: absolute;
  top: 96px;
  left: 0;
  background-color: #fff;
  width: 100vw;
  text-align: center;
  z-index: 999997;
}
.slideAreaSP.search-area .search-area-inner3 {
  background-color: #F9F9F9;
}
.search-category {
  border-radius: 8px;
  border-color: #b2b2b2;
  border-width: 1px;
  font-weight: 500;
  padding: 6px 15px;
  outline: none;
  text-align: left;
  cursor: pointer;
  width: 240px;
  /* background: url(//d3vgbguy0yofad.cloudfront.net/common/images/footer/menu-arrow.png) no-repeat 212px center; */
  background-size: 14px;
  font-weight: bold;
  line-height: 24px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
}
.search-category-wrap {
  position: relative;
}
.search-category-wrap:before {
  content: "";
  display: inline-block;
  height: 9px;
  width: 9px;
  border: 2px solid #212121;
  border-left-width: 0;
  border-top-width: 0;
  transform: translate(0%, 0%) rotate(45deg);
  position: absolute;
  right: 20px;
  top: 12px;
}
.search-keyword-wrap,
.search-area-wrap {
  display: inline-block;
  position: relative;
}
.search-keyword {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 7px 30px;
  position: relative;
  width: 516px;
  text-align: left;
  line-height: 24px;
  border-radius: 0;
  font-size: 14px;
  background-color: #fff;
}
.search-keyword::placeholder {
  color: #cccccc;
  font-weight: 600;
}
.search-keyword-button-area {
  content: "";
  position: absolute;
  background: url("//d3vgbguy0yofad.cloudfront.net/common/images/header/icon_search.svg")
    0 0 / 20px 20px no-repeat;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  filter: invert(79%) sepia(1%) saturate(4088%) hue-rotate(108deg)
    brightness(91%) contrast(93%);
  z-index: 1;
  cursor: pointer;
  border: none;
}
.search-keyword-delete {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: calc(50% - 9px);
  margin-right: 5px;
}
.searchBtn {
  cursor: pointer;
}
.search-keyword-wrap {
  display: inline-block;
  position: relative;
}
.search-keyword-under{
  padding: 24px 16px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: none;
  position: relative;
  z-index: 999;
  background-color: white;
}
.search-area-title{
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 24px !important;
}
.search-riseword-list,
.search-inputword-list{
  margin-bottom: 16px !important;
  font-size: 13px !important;
  cursor: pointer;
}
li.search-riseword-list a {
  display: inline-block;
}
li.search-riseword-list p::before {
  content: url("//d3vgbguy0yofad.cloudfront.net/common/images/header/icon_search_riseword.svg");
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  padding-top: -15px;
  top: 2px;
  position: relative;
}
.search-inputword-list a{
  display: inline-block;
}
.search-inputword-list span {
  /*margin-left: 10px;*/
  font-weight: 700;
}
ul.search-contents {
  list-style-type: none;
  padding: 0;
}
li.search-content-list a{
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-bottom: 20px;
}
.search-content-image {
  flex-shrink: 0;
}
.search-content-image img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.search-content-text {
  margin-left: 16px;
}
.search-content-text h3 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}
.search-content-text p {
  margin: 4px 0 0;
  color: #666;
  font-size: 11px;
}
header .search-content-text p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
li.search-recentword-list {
  margin-bottom: 16px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
li.search-recentword-list p{
  cursor: pointer;
}
li.search-recentword-list .toggleButton{
  cursor: pointer;
}
li.search-recentword-list p::before {
  display: inline-block;
  width: 15px;
  height: 15.148px;
  content: url("//d3vgbguy0yofad.cloudfront.net/common/images/header/icon_search_recentword.svg");
  top: 3px;
  position: relative;
  margin-right: 5px;
}
li.search-riseword-list:last-child{
  margin-bottom: 0px!important;
}
.search-keyword-under li.search-recentword-list:last-child{
  margin-bottom: 0px;
}
/* slideArea */
.globalNav__open_menu .nav__open_ul {
  display: flex;
  justify-content: space-between;
  max-width: 1248px;
  margin: 56px auto;
  padding: 0 40px;
}

.globalNav__open_menu .nav__open_li {
  text-align: center;
  margin: 0;
}

.globalNav__open_menu .nav__open_li .li_txt {
  font-size: 13px;
  font-weight: bold;
  margin-top: 12px;
}

.globalNav__circle {
  width: 104px;
}
.globalNav__circle img {
  height: 104px;
}
.nav__open_store img {
  width: 104px;
  height: 104px;
}

@media screen and (max-width: 1248px) and (min-width: 1024px) {
  .globalNav__circle {
    width: calc(8.9vw - 7px);
  }
  .globalNav__circle img {
    height: calc(8.9vw - 7px);
  }
  .nav__open_store img {
    width: calc(8.9vw - 7px);
    height: calc(8.9vw - 7px);
  }
}

/* menu 画像 */
.globalNav__open_menu .nav_img {
  border-radius: 50px;
  object-fit: cover;
}

/* menu季節のおすすめ */
.globalNav__open_menu .nav__open_store {
  display: flex;
  margin: 0 auto;
  padding: 32px 40px;
  max-width: 1128px;
}
.globalNav__open_menu .nav__open_store p {
  max-width: 152px;
  width: 152px;
}

/* menuオンラインストア */
.globalNav__open_menu .nav__open_store .onlinestore {
  width: 136px;
  max-width: 136px;
}
.globalNav__open_menu .nav__open_store .onlinestore .title-ja {
  letter-spacing: 0;
}

/* menuタンブラー */
.globalNav__open_menu .tumbler_content {
  max-width: 304px;
}

.globalNav__open_menu .tumbler {
  display: flex;
  justify-content: end;
}

.globalNav__open_menu .tumbler .tumbler_ttl {
  font-size: 13px;
  margin: 0;
}

.globalNav__open_menu .tumbler .tumbler_ttl span {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

/* menu画像 */
.globalNav__open_menu .globalNav__open_menu .nav_store_img {
  border-radius: 12px;
  margin: auto;
  object-fit: cover;
}
.globalNav__open_menu .globalNav__open_menu_beverage img {
  border-radius: 50%;
}
.globalNav__open_menu .nav__open_store img {
  border-radius: 12px;
  margin: 0 16px 0 32px;
}
/* menu情報下部 */
.globalNav__open_menu .nav__open_link {
  display: flex;
  justify-content: center;
}

.globalNav__open_menu .nav__open_link .nav__open_under {
  margin: 30px 40px;
  font-size: 13px;
}

/* service */
.globalNav__open__service .nav__open_service,
.globalNav__open__menu .nav__open_menu {
  display: flex;
  margin: 56px auto;
  width: 100%;
  max-width: 1064px;
  justify-content: space-between;
}
.globalNav__open__service[data-area="reward"] .nav__open_service {
  max-width: 1216px;
}
.globalNav__open__service .nav__open_service #My_starbucks {
  text-align: center;
  padding-right: 48px;
  padding-top: 6px;
  position: relative;
}
.globalNav__open__service .nav__open_service #My_starbucks div {
  position: relative;
}
.globalNav__open__service .nav__open_service #My_starbucks div img {
  width: 53%;
  margin: auto;
}
.globalNav__open__service .nav__open_service #My_starbucks p,
.globalNav__circle p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 24px;
  margin-top: 18px;
}
.globalNav__open__service .nav__open_service #My_starbucks:after {
  content: "";
  border-right: rgb(0, 0, 0, 10%) solid 1px;
  height: 96px;
  position: absolute;
  right: 0;
  top: 32px;
}
.globalNav__open__service .nav__open_service .globalNav__service_items,
.globalNav__open__menu .nav__open_menu .globalNav__menu_items {
  max-width: 864px;
  width: 864px;
}
.globalNav__open__service[data-area="reward"] .nav__open_service .globalNav__service_items {
  max-width: 1016px;
  width: 1016px;
}
@media screen and (max-width: 1248px) and (min-width: 1024px) {
  .globalNav__open__service .nav__open_service,
  .globalNav__open__menu .nav__open_menu {
    max-width: calc(91vw - 70px);
  }
  .globalNav__open__service[data-area="reward"] .nav__open_service {
    max-width: calc(100vw - 31px);
  }
  .globalNav__open__service .nav__open_service #My_starbucks {
    padding-right: calc(4.1vw - 3px);
  }
  .globalNav__open__service .nav__open_service .globalNav__service_items,
  .globalNav__open__menu .nav__open_menu .globalNav__menu_items {
    margin-left: calc(4.1vw - 3px);
    max-width: calc(73.9vw - 57px);
    width: calc(73.9vw - 57px);
  }
  .globalNav__open__service[data-area="reward"] .nav__open_service .globalNav__service_items {
    max-width: none;
    width: 100%;
  }
}

.globalNav__open__service .nav__open_Howto_wrap,
.globalNav__open_menu .nav__open_store_wrap {
  padding: 32px 40px;
  background-color: #f9f9f9;
}
.globalNav__open__service .nav__open_Howto {
  display: flex;
  justify-content: space-between;
  max-width: 1005px;
  margin: auto;
}
.globalNav__open__service .nav__open_Howto.nav__open_Howto_reward {
  justify-content: center;
}
.globalNav__open__service .nav__open_Howto .nav__open_Howto-item {
  display: flex;
}
.globalNav__open__service .nav__open_Howto .nav__open_Howto-item.nav__open_Howto-item_reward {
  gap: 32px;
}
.globalNav__open__service .nav__open_Howto .nav__open_Howto-item .How_col {
  padding-left: 20px;
}
.globalNav__open__service .nav__open_Howto .nav__open_Howto-item .How_col.How_col_reward {
  display: flex;
  gap: 24px;
  padding-left: 0px;
}
.globalNav__open__service .nav__open_Howto .nav__open_Howto-item .How_col li {
  font-size: 13px;
  padding-bottom: 12px;
}
.globalNav__open__service
  .nav__open_Howto
  .nav__open_Howto-item.nav__open_Howto-item_faq
  span {
  font-size: 13px;
  font-weight: normal;
}
/* 会員情報管理 */
.globalNav__mystarbucks_admin {
  position: absolute;
  right: 40px;
  top: 41px;
  z-index: 999999;
}

/* footer */
footer,
footer.footerWrap {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.1);
  margin: auto;
  background-color: #fff;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}
.footerNav {
  width: 1184px;
  padding: 56px 0;
  font-size: 13px;
}
@media screen and (max-width: 1263.9px) {
  footer,
  footer.footerWrap {
    width: 100%;
  }
  .footerNav {
    width: calc(100% - 80px);
  }
}
.footerNav__wrapper {
  padding-bottom: 28px;
}
.footerNav__head {
  font-size: 19px;
  /* padding: 10px 0; */
  padding: 0;
  padding-bottom: 20px;
  letter-spacing: -0.016em;
  font-weight: 600;
}
.footerNav__head.en {
  font-size: 20px;
}
.footerNav__list {
  color: rgba(0, 0, 0, 0.7);
}
.footerNav__list .en {
  font-size: 15px;
}
.footerNav__list a:hover {
  color: rgba(0, 0, 0, 0.87);
}
.footerNav__copyright {
  font-size: 13px;
  letter-spacing: -0.016em;
}
.footerNav__copyright.en {
  font-size: 13px;
}
.footerNav .__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 32px 0 20px; */
  padding: 33px 0 5px;
  display: flex;
  justify-content: space-between;
}
.footerNav__socialLinks {
  display: flex;
  margin: 0 -8px;
}
.footerNav__socialLinks li {
  margin: 0 8px;
  margin-bottom: 0px;
}
.footerNav li {
  margin-bottom: 16px;
}
.footerNav__socialLinks li:last-child {
  margin: 0 0 0 8px;
}

@media screen and (max-width: 1023.9px) {
  .globalNav__sp__wrapper {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
    position: relative;
    z-index: 999999;
  }
  .globalNav__sp__wrapper .globalNav__sp__right {
    display: flex;
    align-items: center;
  }
  .globalNav__sp__wrapper .globalNav__sp {
    justify-content: flex-end;
  }
  .globalNav__sp__wrapper .auxNav__btnLink {
    /* width: 50px; */
    /* height: 64px; */
    /*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
    padding: 12px 10px;
  }
  .globalNav__wrapper {
    padding: 0 24px;
  }
  .slideAreaSP {
    position: fixed;
    top: 64px;
    right: 0;
    width: 80vw;
    height: calc(100vh - 64px);
    height: calc(100dvh - 64px);
    background-color: #fff;
    padding: 0;
    z-index: 999997;
  }
  .slideAreaSP .cursor-back {
    background-color: #f9f9f9 !important;
    box-shadow: inset 0 4px 5px -3px rgb(0 0 0 / 20%);
  }
  .slideAreaSP .cursor-back button span {
    font-weight: bold;
  }
  .slideAreaSP .cursor-back a,
  .slideAreaSP .cursor-back button {
    font-size: 15px;
    font-weight: bold;
    padding: 16px 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.87);
  }
  .slideAreaSP .cursor-back a:before,
  .slideAreaSP .cursor-back button:before {
    content: "";
    display: inline-block;
    height: 9px;
    width: 9px;
    border: 2px solid #212121;
    border-left-width: 0;
    border-top-width: 0;
    transform: translate(0, -10%) rotate(135deg);
  }
  .slideAreaSP .cursor-back a:after,
  .slideAreaSP .cursor-back button:after {
    content: "";
  }
  .globalNav__bg {
    height: calc(100vh - 64px);
    top: 64px;
  }
  .auxNav__icon {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  .globalNav .auxNav__icon {
    padding: 32px 0 0;
  }
  .globalNav .globalNav__list {
    padding: 40px 0 0;
  }
  .auxNav__iconLink {
    display: block;
    width: 100%;
    padding: 10px 0;
  }
  .auxNav__iconLink span {
    margin-left: 22px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
  }
  .auxNav__iconLink .img-wrap {
    display: inline-block;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
  }
  .globalNav__sp .auxNav__iconLink {
    padding: 0 32px 0 0;
    line-height: 0;
  }
  .globalNav .globalNav__wrapper .auxNav__btnLink {
    display: block;
    padding: 32px 0 0 0;
  }
  .globalNav__sp li:nth-of-type(2) .auxNav__iconLink {
    padding-right: 13px;
  }
  .globalNav .globalNav__wrapper .globalNav__list li,
  .globalNav .globalNav__wrapper .auxNav__icon li {
    line-height: 1em;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  .globalNav .globalNav__wrapper a.globalNav__listLink,
  .globalNav .globalNav__wrapper a.auxNav__iconLink,
  .globalNav .globalNav__wrapper button.globalNav__listLink,
  .globalNav .globalNav__wrapper button.auxNav__iconLink {
    display: flex;
    justify-content: space-between;
    margin: 0 0 34px;
    width: 100%;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    letter-spacing: 0.1em;
    padding: inherit;
    height: 24px;
    align-items: center;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.87);
  }
  .globalNav .globalNav__wrapper button.globalNav__listLink {
    margin: 0 0 32px;
  }
  .globalNav .globalNav__wrapper a.globalNav__listLink {
    margin: 0 0 32px 0;
  }
  .globalNav .globalNav__wrapper button.auxNav__iconLink {
    margin: 0 0 32px 0;
    word-break: keep-all;
  }
  .globalNav .globalNav__wrapper a.auxNav__iconLink {
    margin: 0 0 24px;
    letter-spacing: 0;
  }
  .globalNav li.cursor a:after,
  .globalNav li.cursor button:after {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 2px solid #212121;
    border-left-width: 0;
    border-top-width: 0;
    transform: translate(0, 0) rotate(-45deg);
    background: none;
  }
  .globalNav {
    height: 64px;
    display: flex;
  }
  .globalNav__nav {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999996;
  }
  .globalNav__logo {
    width: 40px;
    height: 40px;
    margin: 12px 16px;
  }
  .globalNav__sp {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  .slideAreaSP.search-area {
    overflow-y: auto;
    overscroll-behavior: none;
    top: 64px;
    text-align: left;
  }
  .slideAreaSP.search-area .search-area-inner2{
    padding: 32px 16px 32px;
  }
  .slideAreaSP.search-area .search-area-inner3 {
    padding: 24px 16px;
}
.search-area-inner2 .btn-close-wrap{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  cursor: pointer;
}
.search-area-inner3{
    position: absolute;
    width: 100%;
    top: 174px;
}
  .globalNav .osIcon .js-headercart-qty {
    top: 5px;
  }
  .searchBtn.active {
    filter: invert(26%) sepia(91%) saturate(1001%) hue-rotate(128deg) brightness(99%) contrast(103%);
  }

  /* new styles 29.9.2022 */

  .auxNav_sp {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .auxNav__btn-left-icon {
    margin: 0 32px 0 auto !important;
  }
  .auxNav__btn-right-icon {
    margin: 0 auto 0 32px !important;
  }
  .store-search__text {
    font-size: 15px !important;
    line-height: 21px;
  }

  .logout__text {
    font-size: 14px !important;
    line-height: 20px;
  }

  /*　hamburger menu　*/
  .hamburger {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    left: 10px;
    background: rgba(0, 0, 0, 0.87);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 12.5px;
  }
  .hamburger span:nth-child(2) {
    top: 19px;
  }
  .hamburger span:nth-child(3) {
    top: 25.5px;
  }
  .hamburger.active span:nth-child(1) {
    top: 20px;
    left: 12px;
    background: rgba(0, 0, 0, 0.87);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 20px;
    left: 12px;
    background: rgba(0, 0, 0, 0.87);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .globalNav__wrapper {
    padding: 42px 24px 0;
  }

  .globalNav .globalNav__list {
    padding: 0;
    padding-bottom: 3px;
  }

  /* slideArea */
  .slideAreaSP:not(.slideHorizontalSP) {
    display: none;
    width: 100%;
  }
  .slideAreaSP.slideHorizontalSP.slideHidden {
    display: none;
  }
  .slideAreaSP.slideHorizontalSP {
    display: block;
    position: fixed;
    transform: translateX(100%);
    transition: all 0.6s;
  }
  .slideAreaSP.slideHorizontalSP.active {
    overflow-y: auto;
    transform: translateX(0%);
    transition: all 0.6s;
  }

  /* menu */
  .globalNav__open_menu .nav__open_ul {
    display: block;
    margin: 0;
    padding: 0px;
  }
  .globalNav__open_menu .nav__open_li {
    text-align: left;
  }
  .globalNav__open_menu .nav__open_li a {
    display: flex;
    align-items: center;
  }
  .globalNav__circle {
    width: auto;
  }
  .globalNav__open_menu .nav__open_store img {
    margin: 0 16px 0 0px;
  }
  .globalNav__open_menu .nav__open_li .li_txt {
    margin-top: 0px;
    margin: 0 0 0 16px;
  }
  .globalNav__circle img,
  .globalNav__open_menu .nav__open_store img {
    width: 64px;
    height: 64px;
  }
  .globalNav__open_menu .nav__open_li .li_txt {
    font-size: 15px;
  }

  /* 季節のおすすめ */
  .globalNav__open_menu .nav__open_store_wrap {
    padding: 32px 0;
    background: #f9f9f9;
  }

  .globalNav__open_menu .nav__open_store .onlinestore {
    margin-left: 32px;
    display: inline;
  }

  .globalNav__open_menu .nav__open_store .onlinestore .title-ja {
    margin-left: 8px;
  }

  .globalNav__open_menu .nav__open_store {
    display: contents;
  }

  .globalNav__open_menu .tumbler_content {
    margin: 24px 0;
    max-width: 100%;
  }

  .globalNav__open_menu .tumbler_content:last-child {
    margin-bottom: 0;
  }

  /* メニュー下部 */
  .globalNav__open_menu .nav__open_link {
    display: block;
    margin: 32px 24px;
    margin-bottom: 11vh;
  }

  .globalNav__open_menu .nav__open_link .nav__open_under {
    margin: 0 0px 16px;
  }

  .globalNav__open_menu .nav__open_link .nav__open_under:last-child {
    margin-bottom: 0;
  }
  .globalNav__open_menu .tumbler {
    justify-content: left;
    margin: 0 24px;
  }
  .globalNav__open_menu .nav__open_store p {
    max-width: 100%;
  }

  /* サービス */
  .slideArea .nav__open_service,
  .slideArea .nav__open_menu {
    display: block;
    padding: 32px 24px;
    margin: 0;
    overflow: hidden;
  }
  .slideArea .nav__open_service #My_starbucks {
    padding: 0 0 16px;
  }
  .slideArea .nav__open_service #My_starbucks::after {
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    border-right: none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    height: 0;
  }
  .slideArea .nav__open_service #My_starbucks a {
    display: flex;
    align-items: center;
  }
  .slideArea .nav__open_service #My_starbucks a .globalNav__circle {
    margin: 8px;
    width: 48px;
  }
  .slideArea .nav__open_service #My_starbucks a .globalNav__circle img {
    width: 100%;
    height: auto;
  }
  .slideArea .nav__open_service #My_starbucks a p {
    margin: 0;
    padding: 0 16px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
  }
  .slideArea .nav__open_service .globalNav__service_items,
  .slideArea .nav__open_menu .globalNav__menu_items {
    width: auto;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle {
    width: auto;
    padding-top: 16px;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle a,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle a {
    display: flex;
    align-items: center;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle a img,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle a img {
    width: 64px;
    height: auto;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle a p,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle a p{
    margin: 0;
    padding: 0 16px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle .subnav,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle .subnav {
    padding-left: 80px;
    display: none;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle .subnav .nav-item,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle .subnav .nav-item {
    padding: 5px 0;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle .subnav .nav-item li,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle .subnav .nav-item li {
    padding-bottom: 16px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
  }
  .slideArea .nav__open_service .globalNav__service_items ul .globalNav__circle .subnav .nav-item li:last-of-type,
  .slideArea .nav__open_menu .globalNav__menu_items ul .globalNav__circle .subnav .nav-item li:last-of-type {
    padding: 0;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open > a,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open > a {
    position: relative;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open > a::after,
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open > button::after,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open > a::after,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open > button::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url(//d3vgbguy0yofad.cloudfront.net/common/images/footer/menu-arrow.png)
      no-repeat right top;
    position: relative;
    top: 50%;
    right: 0;
    transition: 0.2s;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open > a p,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open > a p {
    margin-right: auto;
  }
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open.active > a::after,
  .slideArea .nav__open_service .globalNav__service_items ul .subnav_open.active > button::after,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open.active > a::after,
  .slideArea .nav__open_menu .globalNav__menu_items ul .subnav_open.active > button::after {
    transform: translateY(-50%) rotate(180deg);
    transition: 0.2s;
  }
  .slideArea .nav__open_Howto_wrap {
    padding: 32px 24px;
  }
  .slideArea .nav__open_Howto_wrap .nav__open_Howto {
    display: block;
    margin-bottom: 6vh;
  }
  .slideArea .nav__open_Howto_wrap .nav__open_Howto .nav__open_Howto-item {
    display: block;
  }
  .slideArea
    .nav__open_Howto_wrap
    .nav__open_Howto
    .nav__open_Howto-item
    .How_col {
    padding: 16px 0;
  }
  .slideArea
    .nav__open_Howto_wrap
    .nav__open_Howto
    .nav__open_Howto-item
    .How_col
    li {
    padding-bottom: 14px;
  }
  .slideArea
    .nav__open_Howto_wrap
    .nav__open_Howto
    .nav__open_Howto-item
    .How_col {
    display: block;
  }


  /* 検索窓 */
  .search-category {
    width: 100%;
    border: 1px solid #b2b2b2;
    margin-bottom: 24px;
    /* -moz-appearance: menulist;
      -webkit-appearance: menulist; */
    background-position-x: calc(100% - 8px);
  }
  .search-keyword-wrap,
  .search-keyword {
    width: 100%;
  }
  .search-area-wrap{
    width: 100%;
    margin-top: 10px;
  }

  /* アカウント */
  .subnav-mystarbucks .subnav .nav-item li {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  .subnav-mystarbucks .subnav .nav-item li:nth-of-type(3) {
    margin-bottom: 56px;
  }
  .subnav-mystarbucks .subnav .nav-item li:last-child {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 0px;
  }
  .subnav-mystarbucks .subnav .nav-item {
    margin: 32px 24px;
  }

  /* 会員情報管理 */
  .globalNav__mystarbucks_admin {
    top: 24px;
    right: 16px;
  }

  /* footer */
  .footerNav {
    width: calc(100% - 32px);
    padding: 40px 0;
  }
  .footerNav__list {
    display: none;
  }
  .footerNav__head {
    position: relative;
    font-size: 18px;
    padding: 0;
  }
  .footerNav__head.en {
    font-size: 18px;
    /* new styles 29.9.2022 */
    line-height: 24px;
  }
  .footerNav__head:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 7px;
    background: url("//d3vgbguy0yofad.cloudfront.net/common/images/footer/menu-arrow.png")
      no-repeat right top;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: 0.2s;
  }
  .footerNav__head.open:after {
    transform: translateY(-50%) rotate(180deg);
    transition: 0.2s;
  }
  .footerNav .footerNav__socialLinks {
    margin: 32px 0 0 0;
  }
  .footerNav__socialLinks li {
    /* margin: 0 4px; */
    margin: 0 8px 0px 0;
  }
  .footerNav__socialLinks li:last-child {
    margin: 0;
  }
  .footerNav__inner {
    margin-bottom: 32px;
  }
  .footerNav__wrapper {
    /* padding-bottom: 32px; */
    padding: 0px;
  }
  .footerNav__secondaryLinks {
    margin-bottom: 16px;
  }
  .footerNav__secondaryLinks > li > a {
    display: block;
    padding: 0;
  }
  .footerNav .__bottom {
    padding: 32px 0;
    display: block;
  }
  .footerNav__list li {
    margin-bottom: 16px;
  }

  .footerNav__list li:first-child {
    margin-top: 12px;
  }

  .footerNav__list li:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .globalNav__list {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .globalNav__list > li {
    padding-left: 30px;
  }
  .globalNav__list > li:first-child {
    padding-left: 0;
  }
  .globalNav a.globalNav__listLink,
  .globalNav button.globalNav__listLink {
    font-size: 14px;
    padding: 41px 0;
    line-height: 14px;
    cursor: pointer;
    letter-spacing: 0.1em;
    background: transparent;
    border: none;
  }
  .globalNav a.globalNav__listLink.active,
  .globalNav button.globalNav__listLink.active {
    color: #00754a;
  }
  .globalNav__listLink.current,
  .auxNav__iconLink.current {
    box-shadow: inset 0 -6px #00754a;
    font-size: inherit;
  }
  .globalNav__listLink:hover {
    color: #00754a;
  }
  .globalNav__wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 88px);
  }
  /* globalNav hover */
  .globalNav__open {
    /* display: none; */
    position: absolute;
    top: 96px;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999997;
  }
  .globalNav__open_menu .nav__open_store .onlinestore {
    text-align: right;
  }
  .globalNav__open_menu .nav__open_store .onlinestore span {
    display: block;
  }
  /* auxiliaryNav */
  .auxNav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .auxNav__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .auxNav__icon li {
    margin: 0 36px 0 0;
  }
  a.auxNav__iconLink,
  button.auxNav__iconLink,
  div.auxNav__iconLink {
    padding: 36px 0px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  .auxNav__iconLink.active {
    /* filter: invert(26%) sepia(91%) saturate(1001%) hue-rotate(128deg)
      brightness(99%) contrast(103%); */
  }
  .auxNav__btn li {
    width: 142px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .auxNav__btnLink {
    display: flex;
    height: 96px;
    align-items: center;
    justify-content: center;
  }
  .search-area-inner {
    /* display: flex;
    justify-content: center; */
  }
  .auxNav__icon .img-wrap {
    height: 24px;
  }
  /* slideArea */
  .slideArea {
    display: none;
  }
  /* subnav */
  .globalNav__open__service .nav__open_service .globalNav__service_items > ul {
    display: flex;
    justify-content: space-between;
  }
  .globalNav__open__service .nav__open_service .globalNav__service_items ul {
    text-align: center;
    font-weight: bold;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    img {
    width: 100%;
  }
  .globalNav__open__service .nav__open_service .globalNav__service_items a p {
    margin-top: 14px;
    white-space: nowrap;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    .subnav
    ul
    li,
  .globalNav__open .subnav ul li {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding: 8px 0;
    white-space: nowrap;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li
    .subnav,
  .globalNav__open .subnav {
    display: block;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: absolute;
    top: 140px;
    background-color: #fff;
    transform: translate(-11%, 0%);
    padding: 8px 16px;
    display: none;
  }
  .globalNav__open.subnav-mystarbucks {
    z-index: 999999;
  }
  .subnav-mystarbucks .subnav {
    right: 200px;
    top: -36px;
    position: absolute;
    z-index: 999999;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li:last-child
    .subnav {
    transform: translate(-40%, 0%);
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li
    .subnav
    .nav-item {
    max-width: 300px;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li
    .subnav
    .nav-item
    li
    p {
    text-align: left;
    margin: 0;
    padding: 8px 0;
    font-size: 13px;
    font-weight: normal;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li
    .subnav
    .nav-item
    li:last-child {
    border-bottom: none;
  }
  .globalNav__open__service
    .nav__open_service
    .globalNav__service_items
    ul
    li
    .open,
  .globalNav__open .subnav.open {
    display: block;
  }

  /* serach */
  .searchBtn.active::after {
    content: "";
    display: block;
    width: 24px;
    height: 7px;
    background-color: #00754A;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
  }
  .slideArea.search-area .search-area-inner2{
    padding-top: 56px;
    padding-bottom: 48px;
  }
  .search-area-container {
    display: flex;
    justify-content: center;
    position: relative;
}
  .search-area-container:nth-child(1){
    margin-bottom: 14px;
  }
  .search-area-wrap {
    width: 179px;
    text-align: left;
}
  ul.search-risewords {
    width: 337px;
    text-align: left;
}
  ul.search-recentwords {
    width: 337px;
}
  .search-keyword-under ul.search-recentwords {
    width: 100%;
  }
  .search-area-inner3 {
  padding: 40px 0px;
  position: absolute;
  width: 100%;
  top: 135px;
}
  .search-area-inner2 .btn-close-wrap{
    display: none;
    padding-bottom: 40px;
    cursor: pointer;
  }
  .search-keyword-under{
    width: 516px;
    margin: 0 auto;
    text-align: left;
  }
  .search-content-image img{
    width: 82px;
    height: 82px;
  }
  /* footer */
  .footerNav__wrapper {
    display: flex;
    margin: 0 -16px;
  }
  .footerNav__inner {
    width: calc(20% - 16px);
    margin: 0 16px;
  }
  .footerNav__secondaryLinks {
    display: flex;
    text-align: center;
  }
  .footerNav__secondaryLinks li {
    border-left: 1px solid #000;
    padding: 0 24px;
    line-height: 1;
  }
  .footerNav__secondaryLinks li:first-child {
    border: none;
    padding-left: 0;
  }
  .footerNav__secondaryLinks li a:hover {
    color: rgba(0, 0, 0, 0.87);
  }
  .footerNav .__bottom {
    display: flex;
    align-items: center;
  }
  .footerNav__socialLinks {
    margin-left: auto;
  }
}

/******************
  パンくず
 ******************/

.breadcrumb-wrap {
  background: #edebe9;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  min-height: 32px;
  display: flex;
  align-items: center;
}

.breadcrumb {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  line-height: 10px;
  overflow-x: auto;
  padding: 0 16px;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.breadcrumb a {
  color: currentColor;
}
.breadcrumb a:hover {
  text-decoration: none;
}

.breadcrumb li {
  display: inline;
  font-size: 11px;
  line-height: 1.75;
}

.breadcrumb li:after {
  color: rgba(141, 141, 141, 0.87);
  content: " / ";
  margin: 0 0.2em;
}

.breadcrumb li:last-child:after {
  display: none;
}
.breadcrumb li .current:after {
  display: none;
}

.breadcrumb .current {
  color: #000;
  font-weight: 500;
  font-size: 11px;
  padding: 0;
}

/* Remove breadcrumb scroll */
.breadcrumb::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

@media screen and (min-width: 520px) {
  .breadcrumb-wrap {
    min-height: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .breadcrumb {
    padding: 8px 64px;
    margin: 0 auto;
    overflow-y: auto;
    white-space: normal;
  }
}

@media screen and (min-width: 1024px) {
  .breadcrumb {
    padding: 8px 128px;
  }
}

@media screen and (min-width: 1264px) {
  .breadcrumb {
  }
}

@media screen and (max-width: 1023.9px) {
  html.is-locked {
    overflow: hidden;
    position: fixed;
    top: var(--top, 0px);
    width: 100%;
  }
}
